button, #btn{
    border: 0px;
    border-radius: 10px;
    padding: 15px;
    font-weight: bold;
    color: #ffffff;
    background-color:#000000;
    margin-bottom: 5pt;
    margin-top: 15pt;
    margin-right: 10pt;
    text-align: center;
    outline: none;
}

p{
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}

fieldset{
    height: 350pt;
    width: 250pt;
    text-align: center;
    margin: auto;
    border-radius: 10pt;
    background-color: #ffffe0;
}

div{
    line-height: 2;
    text-align: center;
}

legend{
    font-size: large;
    font-weight: bold;
    color: #000000;
    font-size: 20pt;
    text-align: center;
}

body{
    background-color: #ffffff;
    font-size: 15pt;
    font-family: Arial;
}

ul{
    text-align: left;
    font-family: Arial;
    font-size: 14pt;
}

#nome, #idade, #email, #senha{
    border-radius: 3pt;
}

#erro {
    background-color: #ff0000;
    font-weight: bold;
}

#acerto {
    background-color: #008000;
    font-weight: bold;
}

#terceiro, #primeiro {
    margin-left: 2pt;
}

#idade {
    margin-left: 2pt;
}

button:hover, #btn:hover {
background-color: #add8e6;
box-shadow: 0 0 5pt #add8e6;
}